### Votacao Backend ###

votacaoBackend/HELP.md
votacaoBackend/.gradle
votacaoBackend/build/
!votacaoBackend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
votacaoBackend/.apt_generated
votacaoBackend/.classpath
votacaoBackend/.factorypath
votacaoBackend/.project
votacaoBackend/.settings
votacaoBackend/.springBeans
votacaoBackend/.sts4-cache
votacaoBackend/bin/
votacaoBackend/!**/src/main/**/bin/
votacaoBackend/!**/src/test/**/bin/

### IntelliJ IDEA ###
votacaoBackend/.idea
votacaoBackend/*.iws
votacaoBackend/*.iml
votacaoBackend/*.ipr
votacaoBackend/out/
votacaoBackend/!**/src/main/**/out/
votacaoBackend/!**/src/test/**/out/

### NetBeans ###
votacaoBackend/nbproject/private/
votacaoBackend/nbbuild/
votacaoBackend/dist/
votacaoBackend/nbdist/
votacaoBackend/.nb-gradle/

### VS Code ###
votacaoBackend/.vscode/